* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  position: fixed;
  width: 100%;
  top: 0;
  background: black;
}

nav a {
  font-size: 2vw;
  padding: .5vw 2vw;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  text-decoration-color: red;
  transition: transform 0.5s;
}

nav a:hover {
  background: white;
  color: skyblue;
  transform: scale(1.1);
}

div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 2vw 2vw;
}

div section {
  display: block;
  width: 40%;
  height: 30vw;
  margin: 5vw 5;
  border: 1px solid green;
  text-align: center;
}

div section:nth-of-type(even) {
  align-self: flex-end;
  margin: 5vw;
}

div section h1 {
  padding: 2vw;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid red;
  width: 50%;
  margin: 1vw auto;
  opacity: 0;
  transition: all 0.5s;
}

div section h1:hover {
  background: white;
  color: black;
  opacity: 1;
}
